# Set Operations in Python

### Printing Sets

In [1]:
my_set = {1, 2, 3}

In [2]:
print(my_set)

{1, 2, 3}

In [5]:
my_set.add(4)

In [6]:
print(my_set)

{1, 2, 3, 4}

In [7]:
my_set.add(4)

In [8]:
print(my_set)

{1, 2, 3, 4}

### Set Methods

In [9]:
new_set = my_set.copy()

In [10]:
print(my_set)
print(new_set)

{1, 2, 3, 4}
{1, 2, 3, 4}

In [11]:
new_set.clear()

In [12]:
print(new_set)

set()

In [13]:
print(my_set)

{1, 2, 3, 4}

In [14]:
my_set_2 = {4, 5, 6, 7}
print(my_set.difference(my_set_2))

{1, 2, 3}

In [15]:
print(my_set)

{1, 2, 3, 4}

In [16]:
my_set_2 = {4, 5, 6, 7}
print(my_set.difference_update(my_set_2))

None

In [17]:
print(my_set)

{1, 2, 3}

In [18]:
my_set.discard(2)

In [19]:
print(my_set)

{1, 3}

In [21]:
my_set_1 = {2, 4}
my_set_2 = {4, 5, 6, 7}
print(my_set_1.intersection(my_set_2))

{4}

In [22]:
my_set_1 = {2, 4, 6}
my_set_2 = {4, 5, 6, 7}
my_set_1.intersection_update(my_set_2)
print(my_set_1)

{4, 6}

In [23]:
print(my_set_1.isdisjoint(my_set_2))

False

In [24]:
print(my_set_1.issubset(my_set_2))

True

In [25]:
print(my_set_1.issuperset(my_set_2))

False

In [27]:
print(my_set_2.pop())

4

In [28]:
print(my_set_2)

{5, 6, 7}

In [31]:
print(my_set_2.remove(7))

None

In [32]:
print(my_set_2)

{5, 6}

In [34]:
my_set_1 = {2, 4, 6}
my_set_2 = {4, 5, 6, 7}
print(my_set_1.symmetric_difference(my_set_2))

{2, 5, 7}

In [36]:
my_set_1 = {2, 4, 6}
my_set_2 = {4, 5, 6, 7}
my_set_1.symmetric_difference_update(my_set_2)
print(my_set_1)

{2, 5, 7}

In [37]:
my_set_1 = {2, 4, 6}
my_set_2 = {4, 5, 6, 7}
print(my_set_1.union(my_set_2))

{2, 4, 5, 6, 7}

In [38]:
my_set_1 = {2, 4, 6}
my_set_2 = {4, 5, 6, 7}
my_set_1.update(my_set_2)
print(my_set_1)

{2, 4, 5, 6, 7}

### Nesting Lists to Sets

In [39]:
x = set()
print(x)

set()

In [42]:
x.add(1)
x.add(2)
x.add(3)
x.add(4)
print(x)

{1, 2, 3, 4}

In [46]:
y = set([5, 6, 7, 7, 7])
print(y)

{5, 6, 7}